@font-face {
    font-family: ubuntu;
    src: url(Font/Ubuntu-C.ttf);
}

html {
    background-color: #222;
    font-family: ubuntu;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-header {
    width: 100%;
    background-color: #313131;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 207, 214);
    margin: 0 auto 30px;
    padding: auto;
}

.data-cell {
    padding: 20px;
    width: 80px;
}

table {
    border-collapse: collapse;
}

.table:nth-child(odd) {
    background-color: seashell;
}

.table:nth-child(even) {
    background-color: grey;
}

th,
td {
    border: 3px dotted rgb(0, 207, 214);
}
