@font-face {
    src: url(Font/Ubuntu-C.ttf);
    font-family: ubuntu;
}

.App-header {
    background-color: #343a40;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(204, 246, 253);
}

.App {
    background-color: #333;
    font-size: 16px;
    color: whitesmoke;
    font-family: ubuntu;
}

#table {
    margin: 20px auto;
    width: 60%;
}

.button-container {
    text-align: center;
}

.shadows {
    box-shadow: 0 -2px 2px rgba(220, 247, 255, 0.1), 3px 3px 2px rgba(220, 247, 255, 0.2),
        0 3px 4px rgba(97, 218, 251, 0.5);
}

.shadowss {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

thead {
    font-size: 17px;
    color: black;
}
